<div class="col-xs-10 col-xs-offset-1">
    <div class="row">
        <p>
            Here's some HTML 5 games I created using the 
            <a href="http://phaser.io/">Phaser</a>
            framework. These were the result of a challenge 
            for myself to spend a month finishing one game a week 
            in my free time. The art assets were created using
            <a href="http://www.getpaint.net/index.html">paint.net</a>
            to quickly mock up sprites and backgrounds.
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" ng-repeat="game in games">
            <span>{{game.name}}</span>
            <a href="{{game.fileSrc}}" target="_blank" class="thumbnail">
                <img ng-src="{{game.imgSrc}}" alt="{{game.name}}"  />
            </a>
        </div>
    </div>
    <div class="tab-content">

    </div>
</div>