<div>
    <div class="nav">
        <ul class="nav nav-tabs">
            <li class="active">
                <div data-toggle="tab">
                    Here's a few HTML5 games I created using the Phaser javascript framework.
                </div>
            </li>
            <li><a href="#" data-toggle="tab" aria-controls="">Game 1</a></li>
            <li><a href="#" data-toggle="tab">Game 2</a></li>
            <li><a href="#" data-toggle="tab">Game 3</a></li>
            <li><a href="#" data-toggle="tab">Game 4</a></li>
        </ul>
    </div>

</div>