<div class="col-xs-10 col-xs-offset-1">
    <div class="row">
        <div>
            <img height="256" class="img-responsive img-rounded center-block" ng-src="{{me.PictureUrl}}" alt="{{me.Name}}" /> 
        </div> 
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        {{me.Name}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <p>Hi! I'm a software engineer and my primary passion is in game development.
                    I also spend time on development mobile apps as well as some web-dev to 
                    keep this site up and running. If you'd like to contact me, there's plenty
                    of links to all sorts of other outlets i'm on, otherwise a direct email will
                    probably grab my attention the fastest.
                </p>
            </div>
    </div>
</div>