<section class="team-section">
    <div class="row text-center">
        <div>
            <div class="avatar p-xs-2">
                <img height="256" class="img-responsive rounded-circle z-depth-1" ng-src="{{me.PictureUrl}}" alt="{{me.Name}}" /> 
            </div>
            <h4>{{me.Name}}</h4>
            <h6 class="font-bold blue-grey-text">Senior Salesforce Developer</h6>
            <p>Hi! I'm a Software Engineer, currently in the Salesforce space but my interests are in all software development,
                mostly games! I also spend time on development mobile apps as well as some web-dev to 
                keep this site up and running. If you'd like to contact me, there's plenty
                of links to all sorts of other outlets i'm on, otherwise a direct email will 
                grab my attention the fastest.
            </p>
        </div>
    </div>
</div>