/* Your custom styles */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #878b96;
}
.bodyContent {
    background-color: #fdfdfd;
} 
.content {
    flex: 1 0 auto;
}
.p-xs-2{
    padding: .5rem;
}
.thumbnail i {
    color: grey;
    font-size: 10em;
}
.imageGallery {
    display: flex;
    flex-wrap: wrap;
}
.vfxContainer
{
    display: flex;
    flex-wrap: wrap;
}
.videoColumn
{
    flex: 1;
}