/* Your custom styles */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #878b96;
}
.bodyContent {
    background-color: #e6e6e6;
} 
.content {
    flex: 1 0 auto;
}
.p-xs-2{
    padding: .5rem;
}