<div class="col-xs-10 col-xs-offset-1">
    <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <img height="256" class="img-responsive img-rounded center-block" ng-src="{{me.PictureUrl}}" alt="{{me.Name}}" />
                </div>
                <div class="col-sm-6">
                    <h1 class="text-center">
                        {{me.Name}}
                    </h1>
                    <p>Hey there! The name's Jason Miletta and i'm a software engineer, game developer, and all around technology enthusiast. 
                        This is my portfolio website, made to show off any of the projects i've worked on or the things I've created.</p>
                </div>
            </div>
            <div class="row">
                 <p>I've created this website from scratch using javascript and angularjs, styled up with bootstrap and some extra css.
                      The site is still a work in progress so the formatting might look off and there's still additions to be made but feel free to click around!</p>
            </div>
    </div>
</div>