<div>
    <div class="row">
        <img class="media img-rounded center-block" height="350" ng-src="{{me.PictureUrl}}" alt="{{me.Name}}" />

    </div>
    <div class="row">
        <h1 class="text-center">
            {{me.Name}} - {{me.Title}}
        </h1>
    </div>
    <div class="row btn-group">
        <button class="btn" type="button">
            <a href="https://github.com/JasonMiletta">GitHub</a>
        </button>
        <button class="btn" type="button">
            <a href="https://codepen.io/JasonMiletta">CodePen</a>
        </button>
        <button class="btn" type="button">
            <a href="https://linkedin.com/in/jasonmiletta">LinkedIn</a>
        </button>
    </div>
</div>