<div>
    <div class="row">
        <div>
            <img class="img-rounded center-block" height="250" ng-src="{{me.PictureUrl}}" alt="{{me.Name}}" />
        </div>
        <h1 class="text-center">
            {{me.Name}} - {{me.Title}}
        </h1>
    </div>
    <div class="row text-center">
        <div class="btn-group">
            <a href="https://github.com/JasonMiletta" class="btn text-center" type="button">GitHub</a>
            <a href="https://codepen.io/JasonMiletta" class="btn text-center" type="button">CodePen</a>
            <a href="https://linkedin.com/in/jasonmiletta" class="btn text-center" type="button">LinkedIn</a>
        </div>
    </div>
</div>