<div class="col-xs-10 col-xs-offset-1"> 
    <div class="row">
        <div class="col-sm-6">
            <h3>Email</h3>
            <a href="mailto:Jmiletta01@gmail.com">Jmiletta01@gmail.com</a>
        </div>
        <div class="col-sm-6">
            <h3>LinkedIn</h3>
            <a href="https://linkedin.com/in/jasonmiletta">linkedin.com/in/jasonmiletta</a>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Itch.io</h3>
            <a href="https://jasonmiletta.itch.io">jasonmiletta.itch.io</a>
        </div>
        <div class="col-sm-6">
            <h3>GitHub</h3>
            <a href="https://github.com/JasonMiletta">github.com/JasonMiletta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"> 
            <h3>CodePen</h3>
            <a href="https://codepen.io/JasonMiletta">codepen.io/JasonMiletta</a>
        </div>
        <div class="col-sm-6">
            <h3>WordPress</h3>
            <a href="https://jasonmiletta.wordpress.com/">jasonmiletta.wordpress.com</a>
        </div>
    </div>
</div>